language: java

sudo: false

dist: trusty

jdk:
  - oraclejdk8
  - openjdk8

after_success:
  - mvn clean test jacoco:report coveralls:report
  - semantic-release --prepare @conveyal/maven-semantic-release --publish @semantic-release/github,@conveyal/maven-semantic-release --verify-conditions @semantic-release/github,@conveyal/maven-semantic-release --verify-release @conveyal/maven-semantic-release

cache:
  directories:
    - $HOME/.m2
    - $HOME/.yarn-cache

before_script:
  - nvm install '12'
  - yarn global add @conveyal/maven-semantic-release semantic-release

