name: Benchmark PR Check

on:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'

permissions:
  contents: read
  pull-requests: write

jobs:
  benchmark:
    name: Run JMH Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven
      - name: Run JMH Benchmark (SMOKE Mode)
        env:
          BENCHMARK_MODE: SMOKE
        run: mvn test -Dtest=BenchmarkRunner -Djmh.output="target/jmh-result.json"

      - name: Store Benchmark Result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: JMH Benchmark
          tool: 'jmh'
          output-file-path: target/jmh-result.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: false
          alert-threshold: '150%'
          comment-on-alert: true
          fail-on-alert: true
