name: Benchmark Push Publish

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'

permissions:
  contents: write
  deployments: write

jobs:
  benchmark:
    name: Run JMH Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Run JMH Benchmark (AGILE Mode)
        env:
          BENCHMARK_MODE: AGILE
        run: mvn test -Dtest=BenchmarkRunner -Djmh.output="target/jmh-result.json"

      - name: Publish Benchmark Result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: JMH Benchmark
          tool: 'jmh'
          output-file-path: target/jmh-result.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          benchmark-data-dir-path: bench
